body{
    background-color: cornflowerblue;
}

.main-body{
    width: 50%;
    padding: 8% 0 0; /*L R B*/
    margin: auto;  
}

.vertical-center{
    position: relative;
    z-index: 1;
    background-color: white;
    max-width: 50%;
    margin: 0 auto 100px; /*lets your browser itself assign a value automatically, whatever tag that you are giving it as an input is aligned in the center itself*/
    padding: 45px;
    text-align: center;
}

.logo{
    padding-top: 10%;
}

.submit_btn{
    margin: auto;
    width: 35%;
    background-color: cornflowerblue;
    border: 0;
    color: white;
    padding: 10px 20px 10px 20px;
}